.main {
  background: linear-gradient(
    45deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 23, 175) 35%,
    rgb(46, 77, 255) 65%,
    rgb(205, 255, 3) 100%
  );

  width: 500;
  height: 200;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
